@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Francis S. Manaig<br />
    francismanaig@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    09270411125
</address>

